
/* Handsfree stuff */
.handsfree-hide-when-stopped {
  display: none;
}
.handsfree-started .handsfree-hide-when-stopped {
  display: initial;
}
.handsfree-started .handsfree-hide-when-started {
  display: none;
}


#canvas-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  position: fixed;
  width: 100%;
  left: 0;
	bottom: 0;
	padding: 1em;
}


h1 {
  padding: 20px;
  margin: 0;
}
h1 div {
  font-size: 18px;
  opacity: 0.8;
  text-align: center;
}

img {
  vertical-align: middle;
}

/* Pre-start message */
aside div {
  position: relative;
  background: #fff;
  z-index: 11;
  margin: auto;
  width: 600px;
  max-width: 100%;
  margin-top: 200px;
  padding: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
}
aside:before {
  content: '';
  position: fixed;
  background: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.handsfree-debugger {
  position: absolute;
  top: 100px;
  left: 20px;
}
